Source: caja-pyextensions
Section: utils
Priority: optional
Maintainer: Giuseppe Penone <giuspen@gmail.com>
Build-Depends: debhelper (>= 7), python-central (>=0.5.6), python (>=2.4), python-gtk2 (>=2.17), python-mate (>=1.2), python-mateapplet (>=1.2)
Standards-Version: 3.8.1
Homepage: http://www.giuspen.com/caja-pyextensions/

Package: caja-pyextensions
Architecture: all
XS-Python-Version: >=2.4
XB-Python-Version: >=2.4
Depends: python-caja, python-gtk2
Description: Handler of the Caja Python Extensions
 A Graphical Handler of the Caja File Manager Python Extensions, Including some Useful PyExtensions
